{% extends "base.html" %}

<!-- import form receiving model -->
{% import 'bootstrap/wtf.html' as wtf %}
    <style type="text/css">
        #menu li {
            float:left; /* 往左浮动 */
        }
    </style>

    {% block app_content %}
        <!-- ########## -->

        <h1>数字化工厂监测平台</h1>
        <br>
        <h3>数据检索</h3>
        <br>
        <div class="row">
            <div class="col-md-4">
                <!-- Just send a form to wtf is enough -->
                {{ wtf.quick_form(form) }}
            </div>
        </div>
        <br>
        <h3>数据总览</h3>
        <br>
        <!-- 已发表的言论 -->
        {% if documents %}
            <div class="container">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>锅炉所在地</th>
                        <th>锅炉编号</th>
                        <th>燃气读数</th>
                        <th>提交日期</th>
                        <th>提交时间</th>
                        <th>提交人</th>
                    </tr>
                    {% for document in documents %}
                    <tr>
                        <td>{{ document.boiler_room }}</td>
                        <td>{{ document.boiler_no }}</td>
                        <td>{{ document.gas_indicator }}</td>
                        <td>{{ document.date }}</td>
                        <td>{{ document.time }}</td>
                        <td>{{ document.employee_name }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            </div>

        {% else %}
            <div class="container">
                <div class="panel panel-default">
                    <!--<div class="panel-heading">-->
                        <!--<b>Administer</b> said:-->
                    <!--</div>-->
                    <div class="panel-body">
                        <h4>目前还没有相关数据。</h4>
                    </div>
                    <div class="panel-footer">
                        By: <b>系统管理员</b>
                    </div>
                </div>
            </div>
        {% endif %}

    {% endblock %}
